// Navigation code here

.navbar{
  background-color: rgb(242, 242, 242);
  height:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  margin:0%;
  

  @media @phone{
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 75%;
  }

  h1{
    font-size:50px;
  }

  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    width:25%;

    @media @phone{
      width:100%;
      display: flex;
      justify-content: space-evenly;
    }
  }

  a{
    font-size:15px;
    color:black;
  }

  
}
    .space-img img{
      border-radius: 10px;
    }